.navbar-bar .navbar-icon-add-content:before {
  background-image: url("../icons/bebebe/plus.svg");
}
.no-svg .navbar-bar .navbar-icon-add-content:before {
  background-image: url("../icons/bebebe/plus.png");
}
.navbar-bar .navbar-icon-add-content:active:before,
.navbar-bar .navbar-icon-add-content.navbar-active:before {
  background-image: url("../icons/ffffff/plus.svg");
}
.no-svg .navbar-bar .navbar-icon-add-content:active:before,
.no-svg .navbar-bar .navbar-icon-add-content.navbar-active:before {
  background-image: url("../icons/ffffff/plus.png");
}
